In [1]:
from SEGeneTF.readFiles import read_annotation
from SEGeneTF.regionTools import get_tss

In [2]:
pwd

'e:\\R135_remote-ftp'

In [3]:
ann = read_annotation('SEGeneTF\example\gal5_refseq.ucsc')
ann

           name chrom strand   txStart     txEnd    name2
0  NM_001080101     1      +  33440187  33580652   SRGAP1
1     NM_205373     1      +   8310339   8452139   SEMA3D
2  NM_001079739     1      +  92260428  92282947     CD80
3  NM_001199314     1      +   1044880   1060889  ANKRD16
4  NM_001030773     1      -   3142580   3240472    MKLN1
5  NM_001199445     1      -  14570253  14754203     COG5

In [4]:
get_tss(ann, 2.5e3, 2.5e3)

  chr       start         end          name
0   1  33437687.0  33442687.0  NM_001080101
1   1   8307839.0   8312839.0     NM_205373
2   1  92257928.0  92262928.0  NM_001079739
3   1   1042380.0   1047380.0  NM_001199314
4   1   3242972.0   3237972.0  NM_001030773
5   1  14756703.0  14751703.0  NM_001199445